* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Archivo", sans-serif;
}
.Navbar {
    padding-top: 50px;
}
.nav-link {
    color: #fff !important;
    font-size: 16px;
    transition: 0.2s ease-out;
    font-weight: 600;
}

.nav-link:hover {
    color: #fff !important;
    text-shadow: 0 0 7px #7da275, 0 0 10px #7da275, 0 0 21px #7da275,
        0 0 42px #7da275, 0 0 82px #7da275, 0 0 92px #7da275, 0 0 102px #7da275;
}
.nav-item {
    margin: 0 10px;
}
@font-face {
    font-family: llp;
    src: url(./Fonts/LLPIXEL3.ttf);
}
@media (max-width: 1199px) {
    .nav-link {
        font-size: 14px;
    }
    .Navbar {
        padding-top: 15px;
    }
}
